* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body::-webkit-scrollbar {
  width: 0;
}

i {
  color: #fff;
}

.highlighted {
  color: #40c3ff;
}

#selected {
  color: white !important;
  opacity: 1;
}

#selected:hover {
  transform: none !important;
  opacity: 1 !important;
}

.header-section {
  position: relative;
  background: rgba(0, 0, 0, 0.95);
  height: 100vh;
  width: 100%;
  padding: 100px;
  display: flex;
  align-items: center;
  transition: 0.7s all ease-in-out;
  z-index: 10;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 40px 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.7s all ease-in-out;
}

header .toggle-menu__wrapper {
  width: 30px;
  height: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

header .toggle-menu__wrapper .first-line,
header .toggle-menu__wrapper .second-line {
  border-bottom: 1.5px solid #fff;
}

.first-line__active {
  transform: rotate(45deg);
  position: relative;
  top: 7px;
}

.second-line__active {
  transform: rotate(-45deg);
  position: relative;
  bottom: 7px;
}

.header-content {
  max-width: 600px;
}

.header-content h2 {
  color: #fff;
  font-size: 2.5rem;
  letter-spacing: 2px;
}

.header-content p {
  font-size: 1.3rem;
  color: #fff;
}

.header-content button {
  display: inline-block;
  margin-top: 20px;
  background: #fff;
  color: #000;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.contact-info {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: calc(100% - 170px);
}

.contact-info li {
  list-style: none;
}

.contact-info li a {
  display: grid;
  place-items: center;
  width: 50px;
  height: 50px;
  text-decoration: none;
  border: 1px solid #fff;
  margin: 10px 0 0;
  transition: 0.3s ease-out;
}

.contact-info li a:hover {
  background: #fff;
}

.contact-info li a img {
  max-width: 20px;
  filter: invert(100%);
  mix-blend-mode: difference;
}

#navigation {
  position: fixed;
  top: 0;
  left: 70%;
  width: 30vw;
  height: 100vh;
  display: grid;
  place-items: center;
  transition: 0.5s;
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(/Images/bg.jpg);
  background-size: cover;
  background-position-x: -30px;
  transform: translateX(100%);
  transition: 0.7s all ease-in-out;
}

#navigation ul {
  list-style: none;
  position: relative;
  z-index: 20;
}

#navigation ul li {
  margin: 1rem 0;
  text-align: center;
}

#navigation ul li a {
  color: #40c3ff;
  text-decoration: none;
  display: inline-block;
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: capitalize;
}

#navigation ul li a:hover {
  transform: scale(1.2);
  opacity: 0.5;
}

#navigation.navigation-visible {
  transform: translateX(0);
}

.move-left {
  transform: translateX(-30%);
}
